<nav
  class="navbar navbar-dark sticky-top bg-primary flex-md-nowrap py-3 px-4"
  data-bs-theme="dark"
>
  <div class="col-sm-3 col-md-2 mr-0">
    <a class="navbar-brand" href="">SONB - Project 9</a>
  </div>
</nav>

<div class="container-xxl mt-4">
  <div class="container d-flex align-items-end mb-4" style="height: 82px">
    <div class="input-container">
      <label for="dataInput" class="form-label mb-0">Change value to</label>
      <input
        type="number"
        class="form-control"
        id="dataInput"
        [(ngModel)]="dataToCommit"
        [disabled]="submitted || loading"
      />
    </div>

    <button
      type="submit"
      class="btn btn-primary mx-2"
      style="width: 100px"
      (click)="commitData()"
      [disabled]="submitted || loading"
    >
      {{ submitted ? "Loading.." : "Submit" }}
    </button>
    <div class="alert alert-danger mt-4 mb-0" role="alert" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>
  </div>

  <div class="container cards-container d-flex flex-wrap">
    <div class="w-100 d-flex justify-content-center">
      <div
        class="spinner-border text-primary"
        role="status"
        style="width: 5rem; height: 5rem"
        *ngIf="loading"
      ></div>
    </div>

    <ng-container *ngIf="!loading">
      <div
        class="card shadow-sm"
        style="width: 10rem"
        *ngFor="let server of servers"
      >
        <div class="card-body">
          <h5 class="card-title">
            {{ server.name }}
            <ng-container *ngIf="server.role === 'Coordinator'">
              <i class="bi bi-person-arms-up"></i>
              <span class="badge text-bg-primary">Coordinator</span>
              <button
                class="btn btn-card btn-danger mt-2"
                (click)="closeCoordinator()"
                [disabled]="closingCoordinator || submitted"
              >
                Close
              </button>
            </ng-container>

            <ng-container *ngIf="server.role !== 'Coordinator'">
              <span
                class="badge"
                [ngClass]="server.active ? 'text-bg-success' : 'text-bg-danger'"
                >{{ server.active ? "Active" : "Disabled" }}</span
              >
            </ng-container>
          </h5>

          <div
            *ngIf="server.role !== 'Coordinator'"
            class="d-flex w-100 justify-content-between"
          >
            <button
              class="btn btn-card"
              [ngClass]="
                server.delay !== 0 ? 'btn-danger' : 'btn-outline-danger'
              "
              (click)="changeDelay(server.id)"
              [disabled]="editedServerId === server.id || submitted"
            >
              +<i class="bi bi-stopwatch-fill"></i>
            </button>
            <button
              class="btn btn-card"
              [ngClass]="
                server.active ? 'btn-outline-danger' : 'btn-outline-success'
              "
              (click)="changeStatus(server.id)"
              [disabled]="editedServerId === server.id || submitted"
            >
              {{ server.active ? "Disable" : "Activate" }}
            </button>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<div class="container">
  <footer
    class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"
  >
    <p class="col-md-4 mb-0 text-body-secondary">
      © 2025 Albert Wychowaniec, Bratłomiej Grzesik 2ID21B
    </p>
  </footer>
</div>

<notifier-container></notifier-container>
